{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Prestashop Connector</h1>
      <ul>
        {% for product in products %}
        <li>
          <div class="row">
            <div class="col-md-4">
              NAME : {{ product.name }} | Category: {{ product.category }}| Price: {{ product.price }}
            </div>
            <div class="col-md-8">
              {{ product.description_short|safe }}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
