{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>Lista de Productos</h1>
    <div class="col-md-12">
      <h1>{{  customer.name }}</h1>
      <h3>Productos disponibles: {{ customer.nr_products }} </h3>
      <h2>Stack:</h2>
      <ul>
        <li>{{  customer_stack.web_language }}</li>
        <li>{{  customer_stack.web_framework }}</li>
        <li>{{  customer_stack.database_type }}</li>
      </ul>
    </div>
    <div class="col-md-12">
      {% for product in products%}
        <div class="col-md-4" style="padding: 10px; border: 2px solid green;">
          <h5> Nombre: {{ product.name }} </h5>
          <h5> Precio: {{ product.price }} €</h5>
          <h6> Descripción Corta: {{ product.short_description }} </h6>
          <p> Descripción Larga: {{ product.long_description }} </p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
