{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="{% static 'images/bagwoman.jpg'%}" id="target">
    </div>
  </div>
</div>
-->
<head>
<title>My first chart using FusionCharts Suite XT</title>
<script  type="text/javascript" src="{% static 'js/react/app/fusioncharts.js' %}"></script>
<script  type="text/javascript" src="{% static 'js/react/app/fusioncharts.theme.fint.js' %}"></script>

<script type="text/javascript">
  FusionCharts.ready(function(){
    var revenueChart = new FusionCharts({
        "type": "column2d",
        "renderAt": "chartContainer",
        "width": "500",
        "height": "300",
        "dataFormat": "json",
        "dataSource":  {
          "chart": {
            "caption": "Monthly revenue for last year",
            "subCaption": "Harry's SuperMart",
            "xAxisName": "Month",
            "yAxisName": "Revenues (In USD)",
            "theme": "fint"
         },
         "data": [
            {
               "label": "Jan",
               "value": "420000"
            },
            {
               "label": "Feb",
               "value": "810000"
            },
            {
               "label": "Mar",
               "value": "720000"
            },
            {
               "label": "Apr",
               "value": "550000"
            },
            {
               "label": "May",
               "value": "910000"
            },
            {
               "label": "Jun",
               "value": "510000"
            },
            {
               "label": "Jul",
               "value": "680000"
            },
            {
               "label": "Aug",
               "value": "620000"
            },
            {
               "label": "Sep",
               "value": "610000"
            },
            {
               "label": "Oct",
               "value": "490000"
            },
            {
               "label": "Nov",
               "value": "900000"
            },
            {
               "label": "Dec",
               "value": "730000"
            }
          ]
      }

  });
revenueChart.render();
})
</script>
</head>
<body>
  <div id="chartContainer">FusionCharts XT will load here!</div>
  <div id="react-chartContaniner"></div>
</body>


{% endblock content %}

{% block javascript%}
<script type="text/javascript" src="{% static 'js/react/build/dulcinea.min.js' %}"></script>
<script src="{% static 'js/darkroomjs/demo/vendor/fabric.js'%}"></script>¬
<script src="{% static 'js/darkroomjs/demo/build/darkroom.js'%}"></script>¬
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script>
  new Darkroom('#target', {
  // Canvas initialization size
  minWidth: 100,
  minHeight: 100,
  maxWidth: 500,
  maxHeight: 500,

  // Plugins options
  plugins: {
    crop: {
      minHeight: 50,
      minWidth: 50,
      ratio: 1
    },
    save: false // disable plugin
  },

  // Post initialization method
  initialize: function() {
    // Active crop selection
    this.plugins['crop'].requireFocus();

    // Add custom listener
    this.addEventListener('core:transformation', function() { /* ... */ });
  }
});
</script>

{% endblock javascript%}
